* {
    box-sizing: border-box;
}
body {
    max-width: 960px;
}
.buttonholder {
    display: flex;
    flex:auto;
}
.gridcontainer {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
    flex: auto;
    border: 1px solid black;
}
.row {
    display: flex;
    flex-wrap: nowrap;
    flex: auto;
}
.square {
    flex: auto;
    min-width: 5px;
    min-height: 5px;
}
.square:hover {
    background-color: gray;
}